{% extends "MMPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer un commentaire - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer un commantaire</h2>

  <p>
    Etes-vous certain de vouloir supprimer le commentaire "{{ comment.content }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('mm_admin_comment_delete', {'id': comment.id}) }}" method="post">
    <a href="{{ path('mm_platform_view', {'id': comment.article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'article
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}